$font-primary : 'arvo', serif;
$font-secondary : 'Bitter', serif;
$font-tertiary : '', sans-serif;
$font-heading : $font-secondary;
$font-icon: FontAwesome;
$font-sas: 'sas-webfont';


$black: #242424;
$white: #FFFDF8;

// Global
$color-body: #6F6A63;
$color-primary: #163A3A;
$color-secondary: #C96B4B;
$color-tertiary: #242424;
$color-quaternary: #FFFDF8;


/* -------------------- 
TOPBAR SETTING
-----------------------*/
$topbar-bg: $color_secondary;
$topbar-color: $white;
$topbar-nav-color: $white;
$topbar-nav-hover-color: $color-primary;
$topbar-font: $font-secondary;

/* -------------------- 
NAVBAR SETTING
-----------------------*/
$navbar-bg: $color-primary;
$navbar-font: $font-secondary;
$navbar-color: $color-secondary;
$navbar-hover-color: $white;
$navbar-active-color: $white;
$navbar-stiky-color: $color-secondary;

/* -------------------- 
FOOTER SETTING
-----------------------*/
$footer-bg: #163A3A;
$footer-font-color: $white;

/* -------------------- 
BUTTON SETTING
-----------------------*/
$btn-primary-hover: lighten($color-secondary, 20%);


// Background
$bg__topbar: $color-primary;

.bolder{
	font-weight: 600;
}

.cfix{
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

@import "mixin.scss";
